* {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	margin: .5em;
}

a {
	color: #fff;
}

.game {
	float: left;
	width: 92%;
	margin-left: 4%;
	padding: 0;
}

svg {
	width: 100%;
	height: 100%;
}

.action-panel {
	transition: top .3s cubic-bezier(0.65, 0, 0.75, 0);
	position: fixed;
	left: 0;
	top: -94%;
	display: block;
	background: rgba(0,0,0,.9);
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 2;
	padding: 1%;
	box-sizing: border-box;
}

.action-panel.visible {
	top: 0%;
}

.expand-action-panel {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 10px;
	left: 3em;
	color: #fff;
	text-decoration: none;
}

.map-panel {
	transition: left .3s cubic-bezier(0.65, 0, 0.75, 0);
	position: fixed;
	top: 0;
	left: -96%;
	width: 100%;
	height: 100%;
	padding: 10px 15%;
	box-sizing: border-box;
	background: rgba(0,0,0,.9);
}

.map-panel.visible {
	left: -10%; 
}

.expand-map-panel {
	position: absolute;
	display: block;
	right: 1%;
	top: 0;
	height: 100%;
	width: 1em;
	padding-top: 35vh;
	color: #fff;
	text-decoration: none;
	word-break: break-all;
	letter-spacing: 4px;
	text-align: center;
}

.settings-panel {
	transition: top .3s cubic-bezier(0.65, 0, 0.75, 0);
	position: absolute;
	left: 0;
	top: -100%;
	display: block;
	background: rgba(0,0,0,.9);
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 2;
	padding: 1%;
	padding-top: 2em;
	box-sizing: border-box;
}

.settings-panel.visible {
	top: 0%;
}

.expand-settings-panel {
	display: block;
	position: absolute;
	right: 1em;
	bottom: 2px;
	cursor: pointer;
}

.inventory-panel {
	transition: left .3s cubic-bezier(0.65, 0, 0.75, 0);
	position: fixed;
	top: 0;
	left: 96%;
	width: 100%;
	height: 100%;
	padding: 10px 5%;
	box-sizing: border-box;
	background: rgba(0,0,0,.9);
}

.inventory-panel.visible {
	left: 10%;
}

.expand-inventory-panel {
	position: absolute;
	display: block;
	left: 1%;
	top: 0;
	height: 100%;
	width: 1em;
	padding-top: 25vh;
	color: #fff;
	text-decoration: none;
	word-break: break-all;
	letter-spacing: 4px;
	text-align: center;
}

.full-width {
	min-width: 90%;
	max-width: 90%;
}

.item {
	opacity: 1;
	transition: opacity .5s;
	cursor: pointer;
}

.item-background {
	cursor: auto;
}

.invisible {
	opacity: 0;
	pointer-events: none;
}

.inventory-item {
	max-width: 100%;
	max-height: 100px;
	padding: 5%;
	-webkit-filter: sepia(50%);
	-moz-filter: sepia(50%);
	filter: sepia(50%);
	transition: opacity .25s;
	cursor: pointer;
}

.inventory-item image {
	width: 100%;
	height: 100%;
}

.action-button {
	display: none;
}

.action-button-visible {
	display: inline-block;
}

.selected {
	outline: 2px rgba(0, 0, 0, 0.4) solid;
	opacity: 0.6;
}

#inventory .selected {
	outline: 1px rgb(96, 42, 165) solid;
}

button {
	padding: .5em 1em;
	background-color: rgb(96, 42, 165);
	font-weight: bold;
	color: white;
	border: 1px white solid;
	box-shadow: 1px 1px 4px rgb(218, 189, 255), -1px -1px 4px rgb(218, 189, 255);
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background-color: rgb(100, 48, 169);
}

@media screen and (min-width: 1300px) {
	.game {
		width: 70%;
		margin-left: 15%;
	}
	
	.map-panel {
		left: 0;
		width: 15%;
		padding: 1em;
	}
	
	.expand-map-panel {
		display: none;
	}
	
	.inventory-panel {
		left: 85%;
		width: 15%;
		padding: 1em;
	}
	
	.expand-inventory-panel {
		display: none;
	}
	
	.action-panel {
		left: 20%;
		top: -56%;
		background: rgba(0,0,0,.7);
		width: 60%;
		height: 60%;
		box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
	}
	
	.action-panel.visible {
		top: 10%;
	}
	
	.settings-panel {
		left: 20%;
		background: rgba(0,0,0,.7);
		width: 60%;
		height: 60%;
		box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
	}
	
	.settings-panel.visible {
		top: 10%;
	}
}

/* Fugly fix for smaller devices */
@media screen and (max-height: 400px) {
	.action-panel, .settings-panel {
		top: -89%;
	}
}